<p>Abertura</p>

<div class="d-flex align-items center justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <h2 class="mt-2">Desenvolva sua equipe</h2>
    <p>Cadastre seu grupo de Desenvolvedores,</p>
    <p>e crie seus respectivos níveis.</p>
    <img src="../../../../../assets/images/cadeira.png" width="360" class="my-5">
  </div>
</div>

<div class="d-flex align-items-center justify-content-end my-4">
  <button class="btn btn-outline-secondary mx-2" type="button" routerLink="/nivel" >Criar Nível</button>
  <button class="btn btn-primary mx-2" type="button" routerLink="/desenvolvedor">Criar Desenvovledor</button>
</div>



