table {
  width: 300px;
}

.deleteCor {
  color: rgb(226, 29, 29);
}
.editCor {
  color: #4264D0;
}

ul {
  list-style: none;
  display: flex;
}
li {
  color: black;
  margin: 3px 15px;
}

.btnStyle {
  border: none;
  background: none;
}

#tamanhoLista {
  width: 80px;
}
